h1 Create user

//- Tao endpoint khac de nhan method la put len IOE nay. Cung mot cai path co the nhan cac method khac nhau len no
form(action="/users/create", method="POST")
    label Name
    input(name="name", type="text")
    button Create