extends ../layouts/common
block content
  h1 List users
  a(href="/users/create") Create new user
  ul
    each user in users
     li
      span=user.name
      span &nbsp;
      a(href="/users/"+user.id) View
    br