extends ../layouts/common
block content
  h1 Books

  a.btn.btn-primary(href="/books/create") Create new book

  table.table
        tr
            th Title
            th Action
        each book in books
         tr
           td=book.title
           td
            a.btn.btn-light(href="/books/"+book.id) View
