*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .card{
    margin: 2rem 1rem;
    padding: 1rem;
    width: 450px;
    background-color: #e1f3e8;
    border-radius: 40px;
  }
  .item{
    border-bottom: 2px solid #d2e7da;
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  .content h3{
    color: #4f6b5c;
    margin-bottom: .4rem;
    font-weight: 700;
  }
  .content{
    padding-left: 1rem;
    flex-grow: 1;
  }
  .item:first-child .icon{
    background-color: #00c57a;
    border-radius: 15px;
    color: white;
  }
  .item:first-child p{
    color: #7b9286
  }
  .icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: #00c57a;
  }
  .content p{
    color: #4f6b5c;
    font-size: 1rem;
  }
  .avatars{
    width: 150px;
  }
  img{
    border-radius: 8px;
  }