extends ../layouts/common
block content
    div.row
     each product in products
        div.col-sm-3
            .card
            img.card-img-top(src= product.image)
            .card-body
                h5.card-title= product.name
                p.card-text= product.description
                a.btn.btn-primary(href='/cart/add/'+product.id) Add to cart