*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  section{
    margin: 1rem auto;
    width: 400px;
  }
  hr, .item{
    border: 1px dashed #e7e7e7;
    margin-top: .5rem;
  }
  .item{
    border-radius: 15px;
    display: flex;
    align-content: center;
    padding: 1rem;
    border: 2px solid #ededed;
    margin: 1rem 0;
  }
  .content{
    flex-grow: 1;
    padding: 0 1rem;
  }
  .content h3{
    color: #373737;
    font-weight: 400;
  }
  .content p{
    color: #adadad;
  }
  .img img{
    border-radius: 50%;
  }
  .fa-trash-alt{
    color: #f47078;
    font-size: 2rem;
  }