extends ../layouts/common
block content
  h1 List users
  a.btn.btn-primary(href="/users/create") Create new user
  table.table
        tr
            th Name
            th Action
        each user in users
          tr
            td= user.name
            td
              a.btn.btn-light(href="/users/"+user.id) View
              a.btn.btn-light(href="/users/"+user.id+"/delete") Delete
              a.btn.btn-light(href="/users/"+user.id+"/update") Update
              