extends ../layouts/common
block content
    .row
        .col-4
            h1=book.title
            p=book.description
            a.btn.btn-light(href="/books/"+book.id+"/delete", style="color:black") Delete
            form(action="/books/"+book.id+"/update", method="POST")
                input#name.form-control(name="title", type="text",placeholder=book.title)
                button
                    a.btn.btn-light Change title
        .col-4
            img(src=book.coverUrl, style="width: 300px, height: 300px")   