extends ../layouts/common
block content
  if errors
        each error in errors
            .alert.alert-danger=error
  else
    h1 Status transaction
    span=transaction.isCompleted
    form(action="/transactions/"+transaction.id+"/complete", method="POST")
      .form-group
        label Change status
        select(name="isCompleted")
          option(value=transaction.isCompleted)=transaction.isCompleted
          option(value=transaction.isCompleted)=!transaction.isCompleted
        button.btn.btn-primary Confirm