extends ./layouts/common
block header
  ul(class="nav nav-tabs")
    li(class="nav-item")
      a(href="/", class="nav-link") Home
    li(class="nav-item")
      a(href="/books", class="nav-link") Books
    li(class="nav-item")
      a(href="/users", class="nav-link") Users
    li(class="nav-item")
      a(href="/transactions",class="nav-link") Transactions
  h1 #{name}
  p This is books manage. Please let check
      