*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
    
  }
  body{
    background-color: #f5f9ff;
  }
  section{
    width: 400px;
    border-radius: 10px;
    margin: 5rem auto;
    border: 1px solid #e8e8e9;
    background-color: white;
  }
  .item, .small{
     display: flex;
     border-bottom: 1px solid #e8e8e9;
     padding: 1rem;
  }
  .last{
    border-bottom: unset;
  }
  .text:first-child{
    color: #505e6a;
    font-weight: 200;
  }
  .text{
    flex-grow: 5;
    font-weight: 400;
  }
  .content{
    flex-grow: 1;
    text-align: end;
 }
p{
   color: #7d909e;
   font-size: 1rem;
   margin-bottom: 0.5rem;
}
.special{
  font-weight: bold;
}
.total{
  font-size: 2rem;
}
.small{
  margin: 0 1rem .5rem;
  background-color: #edf7ff;
  border: 2px solid #d2e6fd;
  border-radius: 5px;
}
.small .text{
  color: #a8abae;
}
.bold{
  font-weight: 600;
}
.small .total{
  color: #208fd8;
  font-size: 1.5rem;;
}
button{
  width: 100%;
  background-color: #208fd8;
  padding: 1rem 0;
  border: unset;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
}