*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #505e6a;
  }
  body{
    background-color: #f5f9ff;
  }
  section{
    width: 600px;
    border-radius: 15px;
    margin: auto;
    padding: 1rem;
  }
  .head, .body{
    border: 1px solid #e8e8e9;
    padding: 1rem;
    background-color: white;
  }
  .head{
     display: flex;
  }
  .title{
    flex-grow: 5;
    font-weight: 400;
  }
  .icon{
    flex-grow: 1;
    font-size: 1.5rem;
  }
  
  .logo{
    margin-right: 1rem;
    width: 100px;
    padding: 5px 20px;
    border: 1px solid #a6cbfa;
    border-radius: 5px;
    background-color: white;
  }
  .logos{
    display: flex;
  }
  .logo{
    box-shadow: 0 0 25px 0 #ebf6ff;
  }
  img{
    width: 100%;
  }
  label{
    color: #44515c;
    font-weight: 500;
  }
  form{
    padding: 2rem 0 1rem;
  }
  
  input{
    width: 100%;
    border: 2px solid #afddff;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem 0;
  }
  .container{
    display: flex;
  }
  .item{
    flex-grow: 1;
    margin: 0 0.5rem 0 0;
  }
  .item:first-child input{
    flex-grow: 3;
  }
  .item:last-child{
    margin-right: 0;
  }
  .fa-exclamation-circle{
    font-size: 1rem;
    color: #56a5e1;
  }